@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;

}
.select {
  color: #fff !important;
  border: 1px solid #fff !important;
  font-weight: bold !important;
  svg {
    color: #fff !important;
  }
}
